[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adafruit-circuitpython-seesaw = "*"
adafruit-circuitpython-ssd1680 = "*"
adafruit-blinka = "*"
adafruit-circuitpython-epd = "*"
pillow = "*"

[dev-packages]
